#Server info - start 
NODE_ENV="development" # type: string, regex: (/^(development|production)$/)
ALLOWED_ORIGINS="*" # type: array, regex: (/^\*$|^$|^(https?:\/\/[^,\s]+)(,https?:\/\/[^,\s]+)*$/)
PORT="3148" # type: number, regex: (/^\d{4,5}$/)
SERVER_NAME="Express-it" # type: string, regex: (/^\w[\w\s-]{1,50}$/)
LOGO="/images/logo.png" # type: string, regex: (/^\/.*\.(png|jpg|jpeg|svg)$/)
DEFAULT_AVATAR="/images/placeholder.png" # type: string, regex: (/^\/.*\.(png|jpg|jpeg|svg)$/)
DB_NAME="express-it" # type: string, regex: (/^\w[\w\s-]{1,50}$/)
MOCK_MAIL="true" # type: boolean, regex: (/^(true|false)$/)
#Server info - end 


#Database info - start 
DATABASE_URL="postgresql://admin:admin@localhost:5433/express-it?schema=public" 
REDIS_URL="redis://localhost:6380" 
UI_URL="http://localhost:3148" # type: string, regex: (/^https?:\/\/.*$|^$/)
HREF_URL="http://localhost:3148" # type: string, regex: (/^https?:\/\/.*$|^$/)
#Database info - end 


#Authentication - start 
BCRYPT_SALT_ROUNDS="10" # type: number, regex: (/^\d+$/)
OTP_LENGTH="6" # type: number, regex: (/^\d{1,2}$/)
OTP_EXPIRE_IN="5m" # type: string, regex: (/^\d+(ms|s|m|h|d|w|y)$/)
JWT_ACCESS_SECRET="d38dadf339bf9cf25c7ef924f98302762667a1f4e1913f1e5a7060379aa007ca" # type: string, regex: (/^.{10,}$/)
JWT_ACCESS_EXPIRE_IN="1d" # type: string, regex: (/^\d+(ms|s|m|h|d|w|y)$/)
JWT_REFRESH_SECRET="e3a21c9eb81855c19d45ca046dc559becb767602309ffbdf4dced10fcae30422" # type: string, regex: (/^.{10,}$/)
JWT_REFRESH_EXPIRE_IN="30d" # type: string, regex: (/^\d+(ms|s|m|h|d|w|y)$/)
JWT_RESET_SECRET="cdc2acc436bb10dd057175ce34f3c8627028adc83063d2a4469dccbaac9e1089" # type: string, regex: (/^.{10,}$/)
JWT_RESET_EXPIRE_IN="10m" # type: string, regex: (/^\d+(ms|s|m|h|d|w|y)$/)
#Authentication - end 


#Email info - start 
EMAIL_USER="express-it@gmail.com" # type: string, regex: (/^[\w.-]+@[\w.-]+\.\w+$/)
EMAIL_PORT="587" # type: number, regex: (/^\d{2,5}$/)
EMAIL_HOST="smtp.gmail.com" # type: string, regex: (/^[\w.-]+\.[a-z]{2,}$/)
EMAIL_PASS="5d9ef4ce" # type: string, regex: (/^.{4,}$/)
SUPPORT_EMAIL="support@express-it.com" # type: string, regex: (/^[\w.-]+@[\w.-]+\.\w+$/)
#Email info - end 


#Admin info - start 
ADMIN_NAME="Mr. Admin" # type: string, regex: (/^.{2,100}$/)
ADMIN_EMAIL="admin@express-it.com" # type: string, regex: (/^[\w.-]+@[\w.-]+\.\w+$/)
ADMIN_PASSWORD="01768125" # type: string, regex: (/^.{6,32}$/)
#Admin info - end 


PAYMENT_WEBHOOK_ENDPOINT="http://localhost:3148/api/v1/payments/stripe/webhook" # type: string, regex: (/^https?:\/\/.*\/payments\/stripe\/webhook$|^$/)
PAYMENT_SUCCESS_URL="http://localhost:3148/payments/success-callback" # type: string, regex: (/^https?:\/\/.*$|^$/)
PAYMENT_FAILURE_URL="http://localhost:3148/payments/cancel-callback" # type: string, regex: (/^https?:\/\/.*$|^$/)
#Urls - end 


#Payment info - start 
PAYMENT_CURRENCY="usd" # type: string, regex: (/^[a-z]{3}$/)
STRIPE_SECRET_KEY="sk_test_c931f16ef145d4ec2d9fa12f78ec3dd863d31954f7673155" # type: string, regex: (/^sk_test_[0-9a-zA-Z]{24,}$/)
PAYMENT_METHODS="card" # type: array, regex: (/^(card|acss_debit|affirm|afterpay_clearpay|alipay|au_becs_debit|bacs_debit|bancontact|blik|boleto|cashapp|eps|fpx|giropay|grabpay|ideal|klarna|konbini|link|oxxo|p24|paynow|paypal|pix|promptpay|revolut_pay|sepa_debit|sofort|swish|us_bank_account|wechat_pay|zip|acss_debit)(,(card|acss_debit|affirm|afterpay_clearpay|alipay|au_becs_debit|bacs_debit|bancontact|blik|boleto|cashapp|eps|fpx|giropay|grabpay|ideal|klarna|konbini|link|oxxo|p24|paynow|paypal|pix|promptpay|revolut_pay|sepa_debit|sofort|swish|us_bank_account|wechat_pay|zip|acss_debit))*$/)
#Payment info - end